<ion-view title="Account Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form class="list">
            <label class="item item-input" name="default-city">
                <input type="text" placeholder="Default City">
            </label>
        </form>
        <a ui-sref="menu.searchWeatherByCity" id="accountSettings-button1" class="button button-positive  button-block">Save</a>
    </ion-content>
</ion-view>