<ion-view title="Home">
  <ion-content id="home-view-body" overflow-scroll="true" padding="true" class="has-header">
    <div class="container">
      <div class="row">
        <div class="city-input">
          <input class="text-lighten-1" id="user-input" type="text" ng-model="city"
                 placeholder="enter city here" required>
        </div>
        <div class="search-button-div">
          <button class="btn grey darken-4 search-button" type="submit" ng-disabled="city === ''"
                  value="Search" ng-click="searchWeather(city)">Search
          </button>
        </div>
      </div>
      <h2 class="text-center weather-icon">{{cityName}}</h2>
      <img class="center-block svg" height="150" width="150" ng-src="img/icons/{{iconColor}}/{{weatherIcon}}" alt=""/>
      <hr/>
      <div class="text-center weather-info">
        <h3 id="temperature">{{temperature | number: 0}}&deg;</h3>
      </div>
      <div class="text-center weather-info">
        <h3><img class="svg" ng-src="img/icons/{{iconColor}}/water-drop.svg" alt=""/>{{humidity | number: 0}}%</h3>

      </div>
      <div class="text-center weather-info">
        <h3><img class="svg" ng-src="img/icons/{{iconColor}}/wind-speed-flag.svg" alt=""/>
          {{windSpeed}} km/h</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
