#home-view-body {
  background-image: url(../img/backgrounds/sunny.jpg);
  background-size: cover;
}
#temperature {
  font-size: 5em;
}

.city-input {
  width: 70%;
}

.city-input input {
  width: 90%;
}

.search-button-div {
  width: 19%;
}
.search-button {
  opacity: 0.5;
}
.weather-info img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: white;
}

.weather-icon img {
  width: 150px;
  height: 150px;
}




/*use .split[0]*/
